# Ignore IDE files
.idea

# macOS metadata
.DS_Store

# Ignore python venv
/.venv/

# DotEnv files
.env

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.direnv
.envrc

# Node modules (turbo-repo-cache server is installed at runtime)
node_modules/
